@import "tailwindcss";
@import "./frontend/utils/fonts.css";

@theme {
  --animate-infinite-scroll: infinite-scroll 50s linear infinite;

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}
